@model PhuTungXeMay2019.Models.Donhang

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
@*<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Madh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Madh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Makh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Masp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Masp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinhtrangsp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtrangsp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loaihinhsp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loaihinhsp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thoigian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thoigian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diachigh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachigh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diachikh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachikh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emailkh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emailkh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chitietdonhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chitietdonhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giatien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>*@
