@model PhuTungXeMay2019.Models.Donhang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@*<div>
    <h4>DonHang</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Madh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Madh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Makh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Masp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Masp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinhtrangsp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtrangsp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loaihinhsp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loaihinhsp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thoigian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thoigian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diachigh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachigh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diachikh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachikh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emailkh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emailkh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chitietdonhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chitietdonhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giatien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

    </dl>
</div>*@
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
