@model IEnumerable<PhuTungXeMay2019.Models.CONTACT>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    #table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #table td, #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #table tr:hover {
            background-color: #ddd;
        }
</style>

<body>
    <div class="slide_content_wrap">
        <h1 style="font-size:30px;">Xem Thông Tin Liên Hệ</h1>
        <!-- Đoạn cần thêm -->
        @using (Html.BeginForm())
        {

            <p>
                Tìm kiếm: @Html.TextBox("SearchString")
                <button class="btn btn-primary" style="margin-bottom:12px" value="Filter">Tìm kiếm</button>
            </p>
        }
        <!-- Kết thúc -->
        <hr />
    </div>
    <table class="table table-bordered table-condensed table-hover">
        <tr>
            <th>Họ và Tên</th>
            <th>Email</th>
            <th>Số Điện Thoại</th>
            <th>Nội Dung Liên Hệ</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tenNguoidung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenContact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.noidungContact)
                </td>

                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.idContact }) |
                    @Html.ActionLink("Xem", "Details", new { id = item.idContact }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.idContact })
                </td>
            </tr>
        }
    </table>
</body>
</html>
