@model PhuTungXeMay2019.Models.SanPham
@{
    ViewBag.Title = "chitietsanpham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Tên Sản Phẩm</th>
            <th scope="col">Loại Sản Phẩm</th>
            <th scope="col">Giá Tiền</th>
            <th scope="col">Số Lượng</th>
            <th scope="col">Xuất Xứ</th>
            <th scope="col">Chi tiết</th>
            <th scope="col">Hình Ảnh</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Tensp)</td>
            <td>@Html.DisplayFor(model => model.Loaisp)</td>

            <td>@Html.DisplayFor(model => model.Giatien)</td>
            <td>@Html.DisplayFor(model => model.Soluong)</td>
            <td>@Html.DisplayFor(model => model.Xuatxu)</td>
            <td>@Html.DisplayFor(model => model.Chitiet)</td>
            <td>
                <img style="width: 63px; height: 71px;" src=@Url.Content("~/QuanLiSanPham/Image/"+Model.Idsp) width="241.09" height="241.09" alt="" />
            </td>
        </tr>
        
    </tbody>
</table>

<div id="muahang" style="margin-left:60%">
    @using (Html.BeginForm("addShoppingCart", "ShoppingCart", new { @Idsp = Model.Idsp }))
    {
        @Html.TextBox("txtSoLuong", 1, new { type = "number" })
        <a href="@Url.Action("ShoppingCart", "ShoppingCart")">
            <input type="submit" value="CHỌN MUA" id="btnGioHang" class="btn btn-primary btn-lg" />
        </a>
    }
</div>











