@model PhuTungXeMay2019.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tensp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loaisp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loaisp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Xuatxu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Xuatxu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giatien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chitiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chitiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idsp }) |
    @Html.ActionLink("Back to List", "Index")
</p>
