@model PhuTungXeMay2019.Models.tableOrder

@{
    ViewBag.Title = "Create";
}

<h2>Giỏ Hàng</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.tenSP,"Tên Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenSP)
                @Html.ValidationMessageFor(model => model.tenSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hinhSP,"Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hinhSP)
                @Html.ValidationMessageFor(model => model.hinhSP)
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dongiaSP,"Gía Tiền", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dongiaSP)
                @Html.ValidationMessageFor(model => model.dongiaSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.soluongSP,"Số Lượng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.soluongSP)
                @Html.ValidationMessageFor(model => model.soluongSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thanhtien,"Tổng Cộng ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thanhtien)
                @Html.ValidationMessageFor(model => model.thanhtien)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ghichu,"Ghi Chú", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ghichu)
                @Html.ValidationMessageFor(model => model.ghichu)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thanh Toán" class="btn btn-default" />
                
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index","Home")">Tiếp tục mua hàng </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
