@model PhuTungXeMay2019.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";

}

<h2>Details</h2>

<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensp)
        </dd>

        <dt>
            Loại sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loaisp)
        </dd>

        <dt>
            Giá tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            Chi tiết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chitiet)
        </dd>
        <dt>
           Hình ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>
        <td>
            <img style="width: 63px; height: 71px;" src=@Url.Content("~/QuanLiSanPham/Image/"+Model.Idsp) width="241.09" height="241.09" alt="" />
        </td>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idsp }) |
    @Html.ActionLink("Back to List", "Index")

</p>













